*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: ;

  --fw-light: 400;
  --fw-regular: 500;
  --fw-bold: 700;

  --clr-Bright-red: hsl(12, 88%, 59%);
  --clr-Dark-blue: hsl(228, 39%, 23%);

  --clr-Dark-grayish-blue: hsl(227, 12%, 61%);
  --clr-Very-Dark-blue: hsl(233, 12%, 13%);
  --clr-Pale-red: hsl(12, 100%, 96%);
  --clr-Light-Gray: hsl(0, 0%, 98%);

  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-btn: .85rem;

  --lh-body-text: 175%;

  --bs: 0 .25em .75em hsl(12, 50%, 70%),
        0 .125em .25em hsl(4, 20%, 50%);

  --outline: 3px solid var(--clr-Bright-red);

  --clr-btn-hover: hsl(12, 70%, 70%);;

}

@media (min-width: 1000px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3.5rem;
    --fs-h3: 1.75rem;
    --fs-body: 1.25rem;
    --fs-btn: 1rem;

    --lh-body-text: 1.6;
  }
}

/* Typography */

@font-face {
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: normal;
  src: local('Be Vietnam'), url('fonts/BeVietnam-Regular.ttf') format('ttf');
}

body { 
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  line-height: 1.6;
}

h1, h2, h3 {
  line-height: 1.1;
  margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

header {
  color: var(--clr-Dark-blue);
}

.nav__header .nav__link:hover {
  color: var(--clr-Dark-grayish-blue);
}

.section__title,
.section__subtitle {
  font-weight: var(--fw-bold);
  color: var(--clr-Dark-blue);
}

.section__body-text {
  font-weight: var(--fw-light);
  color: var(--clr-Dark-grayish-blue);
  line-height: var(--lh-body-text);
}

.btn,
.input {
  font-weight: var(--fw-bold);
  font-size: var(--fs-btn);
}

.section__title--why {
  font-weight: var(--fw-bold);
}

.btn { color: var(--clr-Light-Gray); }

.pre_footer { color: var(--clr-Pale-red); }

.section__title--pre_footer { color: var(--clr-Pale-red); }
.btn--pre_footer { color: var(--clr-Bright-red); }

.nav {
  font-size: var(--fs-btn);
  font-weight: var(--fw-light);
}


footer { color: var(--clr-Pale-red); }

.nav__footer {
  color: var(--clr-Light-Gray);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--clr-Bright-red);
}

.social__list {
  font-size: var(--fs-h2);
}

.social__item:hover {
  color: var(--clr-Bright-red);
}

@media (min-width: 1000px) {
  .social__list {
    font-size: var(--fs-body);
  }
}


/* General Stytles */

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--clr-Light-Gray);
}

section {
  padding: 5em 2em;
}

:focus {
  outline: var(--outline);
  outline-offset: 3px;
}

.input {
  font-weight: var(--fw-bold);
  font-size: var(--fs-btn);
}

/* Buttons */

.btn {
  background-color: transparent;
  border: none;
  background-color: var(--clr-Bright-red);
  padding: 1em 2em;
  border-radius: 1.5em;
  text-align: center;
  box-shadow: var(--bs);
  cursor: pointer;
  height: min-content;
  width: max-content;
}

.btn:focus {
  outline: var(--outline);
  outline-offset: 3px;
}

.btn--pre_footer:focus {
  outline: var(--outline);
  outline-color: var(--clr-Pale-red);
}

.btn:hover {
  background-color: var(--clr-btn-hover);
}

.nav-toggle:focus {
  outline: var(--outline);
  outline-offset: 3px;
}

/* Input */

.input {
  border: none;
  padding: 1em 2em;
  min-width: 180px;
  border-radius: 1.5em;
}

.input:focus {
  outline: var(--outline);
  outline-offset: 3px;
}

/* Section Styles */

header {
  width: 100%;
  padding: 3em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  margin-top: 1.2em;
}

.nav__header {
  opacity: 0;
  z-index: -1;
  display: block;
  padding: 10em 4em 5em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, .5));
  transition: opacity 250ms ease-in-out;
}

.nav__list {
  list-style: none;
  padding: 1.5em;
  margin: 0 auto;
}

.nav__header > .nav__list {
  background-color: var(--clr-Pale-red);
}

.nav__header .nav__item {
  text-align: center;
}

.nav__item + .nav__item {
  margin-top: 1.5em;
}

.header__starter-button {
  display: none;
}

.nav-toggle {
  background: transparent;
  border: none;
  padding: .5em;
  z-index: 1000;
}

.hamburger {
  display: block;
  position: relative;
  transition: transform 300ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before { bottom: 8px; }
.hamburger::after { top: 8px; }

.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: var(--clr-Dark-blue);
  width: 2em;
  height: 4px;
  border-radius: 1em;
}

.nav-toggle--activated > .hamburger {
  transform: rotate(2.125turn);
}

.nav-toggle--activated > .hamburger::before {
  opacity: 0;
}

.nav-toggle--activated > .hamburger::after {
  transform: rotate(90deg) translate(-8px);
}

.nav--activated {
  opacity: 1;
  z-index: 100;
}


@media (min-width: 1000px) {
  header {
    padding: 1em;
    max-width: 1300px;
  }

  .nav-toggle {
    display: none;
  }

  .logo {
    margin-top: .7em;
  }

  .nav__header {
    z-index: unset;
    opacity: 1;
    display: block;
    position: unset;
    background: unset;
    padding: 1.5em;
  }

  .nav__header .nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background: transparent;
  }

  .nav__item + .nav__item {
    margin-top: 0;
  }

  .nav__item {
    margin: 0 1em;
  }

  .header__starter-button {
    display: block;
  }
}

/* Intro */

.intro {
  padding: 1em;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.intro__img {
  max-width: 100%;
}

.secction__body-text--intro {
  margin-bottom: 1.5em;
}

@media (min-width: 500px) {
  .section__title--intro {
    margin: 1em;
  }

  .secction__body-text--intro {
    margin-bottom: 2.5em;
  }
}

@media (min-width: 1000px) {
  .intro {
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title img"
      "body img"
      "button img"
    ;
    column-gap: 1em;
    text-align: left;
  }

  .intro__img {
    grid-area: img;
  }

  .section__title--intro {
    grid-area: title;
    margin: .5em auto 0;
  }

  .secction__body-text--intro {
    grid-area: body;
    margin: 0;
  }

  .intro > .btn {
    grid-area: button;
  }
}

/* Why Us */

.why_us {
  margin: 0 auto;
  padding: 4em 1em 1em;
  text-align: center;
  max-width: 650px;
}

.section__title--why {
  padding: 0 1em;
}

.section__body-text--why {
  padding: 0 2em;
  margin-bottom: 3em;
}

.because {
  text-align: left;
  margin: 0 auto;
}

.because__item {
  display: grid;
  grid-template-columns: 5em auto;
  grid-template-areas:
    "label title"
    "body body"
  ;
  column-gap: .4em;
  margin: 1em auto;
}

.because__label {
  grid-area: label;
  padding: .8em 2em;
  cursor: unset;
}

.because__label:hover {
  background-color: var(--clr-Bright-red);
}

.section__subtitle--because {
  grid-area: title;
  display: flex;
  align-items: center;
}

.secction__body-text--because {
  grid-area: body;
}

@media (min-width: 1000px) {
  .why_us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
      'title because'
      'body because'
      'empty because'
    ;
    max-width: 1300px;
    text-align: left;
    column-gap: 3em;
  }

  .section__title--why {
    grid-area: title;
    height: min-content;
    padding: 0;
    margin-bottom: .5em;
  }

  .section__body-text--why {
    grid-area: body;
    grid-row: 2 / 3;
    padding: 0;
    max-width: 50ch;
  }

  .because {
    grid-area: because;
    grid-row: 1 / -1;
  }

  .because__item {
    grid-template-areas:
      'label title'
      'empty body'
    ;
  }
}

/* Testimonials */

.testimonials {
  text-align: center;
  margin: 0 auto;
}

.section__title--testimonials {
  margin-bottom: 1em;
}

.section__subtitle--test-item {
  margin: 1.5em;
}

.testimonials__container {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  overflow: hidden;
}

.testimonial__item {
  padding: 1em;
  transition: transform 300ms ease-in-out;
}

.testimonial__item--after,
.testimonial__item--before {
  position: absolute;
  top: 0;
}

.testimonial__item--after { transform: translate(100vw); }
.testimonial__item--before { transform: translate(-100vw); }

.testimonial__img {
  width: 5em;
  margin: 0 auto;
}

.section__body-test--testimonial {
  margin-bottom: 3em;
}

.testimonials__carousel__marker {
  padding: 0;
  margin: 0 auto 2em;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__carousel__marker--item {
  width: .5em;
  height: .5em;
  border: 2px solid var(--clr-Bright-red);
  border-radius: 50%;
  margin: 0 .5em;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.testimonials__carousel__marker--item:hover {
  transform: scale(1.5);
}

.carousel__marker--activated {
  background-color: var(--clr-Bright-red);
}

@media (min-width: 1100px) {
  .testimonials__container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .testimonial__item {
    max-width: 500px;
  }

  .testimonial__item--after,
  .testimonial__item--before {
    position: unset;
    top: unset;
    transform: unset;
  }

  .testimonials__carousel__marker {
    display: none;
  }
}

/* Pre-Footer */

.pre_footer {
  padding: 5em 2em;
  background-color: var(--clr-Bright-red);
  text-align: center;
}

.btn--pre_footer {
  background-color: var(--clr-Pale-red);
  box-shadow: none;
}

.btn--pre_footer:hover {
  background-color: var(--clr-Pale-red);
  filter: brightness(150%);
}

.section__title--pre_footer {
  margin: 2em auto;
  max-width: 650px;
}

@media (min-width:1000px) {
  .pre_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em 2em;
  }

  .section__title--pre_footer {
    margin: 0;
    text-align: left;
    max-width: 850px;
  }
}

/* Footer */

footer {
  width: 100%;
  background-color: var(--clr-Very-Dark-blue);
  padding: 2em 1em 1em;
}

.get_email {
  margin: 1em auto;
  display: flex;
  justify-content: center;
  max-width: 530px;
}

.btn--footer {
  margin-left: 2em;
  box-shadow: none;
}

.nav__footer {
  display: block;
  width: fit-content;
  margin: 2em auto;
}

.nav__list--footer {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 9em;
  row-gap: 1em;
}

.social-list__container {
  margin: 1em auto;
  padding: 1em;
  max-width: 650px;
}

.social__list {
  padding: 0;
  list-style: none;
  margin: 0 auto 1em;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo--footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.copyright__footer {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1150px) {
  footer {
    position: relative;
    padding: 3em;
    display: grid;
    grid-template-areas:
      'social-media nav input'
      'social-media nav copyright'
    ;
  }

  .get_email {
    margin: 0 auto;
    grid-area: input;
    padding: 1em 0;
    height: min-content;
  }

  .social-list__container {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    grid-area: social-media;
  }

  .nav__footer {
    margin: 0 auto;
    grid-area: nav;
  }

  .social__item {
    margin: 0 .3em;
  }

  .logo--footer {
    margin-bottom: 3em;
  }

  .copyright__footer {
    padding-left: 3em;
    grid-area: copyright;
  }
}